# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# Environment variables and secrets
.env
.env.*
!.env.example


.pytest_cache/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg

# IDEs and Editors (Optional but highly recommended)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
